<h2>Travel Review Blog</h2>

<section id="search" class="search-wrap">
    <h1>Search for a location:</h1>
    <form action="/post/search" method="GET" class="search-form">
        <i class="fas fa-search"></i>
        <label for="location">Search Location</label>
        <input type="search" name="location" id="location" placeholder="Prague, Czech Republic">
        <input type="submit" value="search">
    </form>
</section>