<div class="container">
    <div class="container">
        <h2>Upload Image</h2>
    </div>
    <!-- <div class="container">
        <p><b>Must add an image to submit!</b></p>
    </div> -->
    <form enctype="multipart/form-data" action="/post/image" method="post">
        <div class='form-wrap'>
            <div class="container">
                <input type="file" name="myFile">
            </div>

            <input hidden type="text" name="city" value='<%= post.city %>'>
            <input hidden type="text" name="country" value='<%= post.country %>'>
            <input hidden type="text" name="content" value='<%= post.content %>'>
            <input hidden type="text" name="title" value='<%= post.title %>'>
            <div class='form-wrap'>
                <div class="container">
                    <input type="submit" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</div>