<section id='add' class='container'>
    <div class="form-wrap">
        <div class="container">
            <h2>Create Post</h2>
        </div>
    </div>

    <form action="/post/new" method="POST">
        <div class="form-group">
            <div class="container">
                <label for="title">Title of Review:</label>
                <input type="text" name="title" id="title" class="form-box" values={{title}} required>
            </div>
        </div>

        <div class="form-group">
            <div class="container">
                <label for="city">City:</label>
                <input type="text" name="city" id="city" class="form-box" values={{city}} required>
            </div>
        </div>

        <div class="form-group">
            <div class="container">
                <label for="country">Country:</label>
                <input type="text" name="country" id="country" class="form-box" values={{country}} required>
            </div>
        </div>

        <div class="form-group">
            <div class="container">
                <label for="content">Review:</label>
                <input type="text" name="content" id="content" class="form-box" values={{content}} required>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
</section>