<!-- SHOW LISTING THAT IS CLICKED ON FROM ALL LISTINGS PAGE -->
<div class="container">
    <h1>
      Reviews
    </h1>
</div>
  
  <div class="reviews">

    <div class="container">
        <p><b>City:</b>
          <%= post.city %>
        </p>
      </div>
    
      <div class="container">
        <p><b>Country:</b>
          <%= post.country %>
        </p>
      </div>
    
      <div class="container">
        <p><b>Review:</b>
          <%= post.content %>
        </p>
      </div>
    
      <div class="container">
        <p><b>Title of Review:</b>
          <%= post.title %>
        </p>
      </div>
      
      <div class="container">
        <p><b>Tags</b>
        </p>
      </div>
    
    </div>